* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background-color: #fafafa;
}

/* Header */
header {
  background-color: #a906bb;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Navigasi */
nav {
  width: 100%;
  text-align: center;
  background-color: #ffffff;
  padding: 15px;
}

nav button {
  background-color: #ffa7f3;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

nav button:hover {
  background-color: #d050ff;
}

/* Artikel */
article {
  padding: 20px;
  width: 100%;
  background-color: #f1f1f1;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

/* Gambar */
img {
  display: block;
  margin: 10px auto;
  border-radius: 8px;
}

/* Footer */
footer {
  background-color: #ffa9fb;
  padding: 10px;
  text-align: center;
  color: white;
}

/* Responsif */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
